

.line-top {
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  background: #003a66;
  /*paddingで幅を広げようと思ったらなぜか無理だった */
  border: solid 10px #003a66
}

.line-top strong {
color: #FFFFFF;

}




.line-bc {
  padding: 20px 10px;
  max-width: 100%;
  margin: 0;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;

}

/*以下、②左側のコメント*/
.balloon6 {
  width: 80%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 300px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}


/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 80%;
  border-radius: 12px;
  background: #30e852;
  font-size: 14px;
  text-align : left;

}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}


/*送信フォーム [上][右][下][左]*/



.input-form {
  width: 94%;
  margin: 0.5% 0% 1% 1% ;
  padding: 0% 0% 0% 1%;
  float: left;
  border-radius: 10px;
  -webkit-appearance: none;
  border: 1px solid #ccc
}


.input-button
{
  width: 2%;
  max-width: 5%;
  height: auto;
  margin: 0.5% 0.5% 1% 1.5%;

}

/* このやり方で画像を小さくすることにいつか挑戦したい。 https://junzou-marketing.com/responsive-image */
@media only screen and (max-width: 1024px){
.input-form {
  width: 94%;
  margin: 0.5% 0% 1% 1% ;
  padding: 0% 0% 0% 1%;
  float: left;
  border-radius: 10px;
  -webkit-appearance: none;
  border: 1px solid #ccc
}
}


@media only screen and (max-width: 1024px){
.input-button
{
  width: 2.5%;
  max-width: 2.5%;
  height: auto;
  margin: 0.5% 0.5% 1% 1.5%;

}
}


@media only screen and (max-width: 768px){
.input-form {
  width: 93%;
  margin: 0.5% 0% 1% 1% ;
  padding: 0% 0% 0% 1%;
  float: left;
  border-radius: 10px;
  -webkit-appearance: none;
  border: 1px solid #ccc
}
}


@media only screen and (max-width: 768px){
.input-button
{
  width: 3.5%;
  max-width: 3.5%;
  height: auto;
  margin: 0.5% 0.5% 1% 1.5%;

}
}


@media only screen and (max-width: 700px){
.input-form {
  width: 90%;
  margin: 0.5% 0% 1% 1% ;
  padding: 0% 0% 0% 1%;
  float: left;
  border-radius: 10px;
  -webkit-appearance: none;
  border: 1px solid #ccc
}
}


@media only screen and (max-width: 700px){
.input-button
{
  width: 7%;
  max-width: 7%;
  height: auto;
  margin: 0.5% 0.5% 1% 1.5%;

}
}








.select-form {
  margin: 0% 0% 0% 1.5%;
}

.douinyosokukiku {
  margin: 0% 0% 0% 1.5%;
}
